/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**** Fonts ****/

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Regular.otf") format('opentype');
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Bold.otf") format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-BoldItalic.otf") format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Italic.otf") format('opentype');
    font-style: italic;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-Light.otf") format('opentype');
    font-weight: lighter;
}

@font-face {
    font-family: "Quicksand";
    src: url("../fonts/Quicksand-LightItalic.otf") format('opentype');
    font-weight: lighter;
    font-style: italic;
}

/***Start Styel****/

* {
	font-family: 'Quicksand' !important;
}

body {
	background: url('../images/chalkboard.jpg');

}

h1, h2, p {
	color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
} 

.controlArrow {
    display: none;
}

.home_page_wrapper {
    width: 100%;
    height: 100%;
    background: url('../images/sun.png') no-repeat;   
    background-position: 860px -15px;
}

.team_page_wrapper {
    width: 100%;
    height: 100%;
    background: url('../images/sun.png') no-repeat;   
    background-position: -525px -15px;
}

#content_wrapper_1 {
    width:630px;
    padding: 50px 0px 0px 190px;
}

#content_wrapper_2 {
    width:750px;    
    padding: 30px 0px 50px 490px;
}

#image_wrapper_1 {
    width: 530px;    
    float: right;    
    height: 624px;    
    overflow: hidden;
    position: relative;
    top: -50px;
}

#image_wrapper_2 > img {
    position: relative;
    right: 540px;
}

#content figure {
    width: 406px;
    max-resolution: res;in: 0 auto;
}

.inside_content h1 {
 font-size: 30pt;
 margin-bottom: 5px;
}

.inside_content h2 {
    font-size: 21pt;
    margin-bottom: 35px;
}

.two h1 {
    font-size: 28.5pt;
}

.two h2 {
    letter-spacing: 2.3px;
    font-size: 19pt;
}

.inside_content p {
    line-height: 100%;
}

.inside_content span {
    text-align: justify;
}

/***second page***/

#content ul li {
    display: block;
    margin-bottom: 45px;
}

#content ul li a span.team_photo {
    display: inline-block;

}

#content ul li a span.team_desc {
    float: right;
    padding-top: 30px;
    width: 480px;
    text-align: justify;
}
/*** Flip image***/
#flip_section {
    width: auto;
    max-width: 750px;
}

#flip_section article.desc {
    float: right;
    margin: -4px 72px 0px 0px;
    width: 510px;
}

#flip_section article p {
    text-align: justify;
}

.flip_container {
    float: left;
    margin-bottom: 35px;
    perspective: 1000;
}

.flip_container:hover .flipper {
    transform: rotateY(180deg);
}

.flip_container, .flip_container .front img, .flip_container .back img {
    width: 141px;
    height: 141px;
} 

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flippper .front, .flipper .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
 }

.flipper .font {
    z-index: 2;
}
.flipper .back {
    transform: rotateY(180deg);
}

/*** Team Description ***/
#flip_section h2.team_name, #flip_section h2.team_position {
    font-size: 18pt;
    letter-spacing: 2px;
    line-height: 110%;
}

#flip_section h2.team_position {
    color: #415381;
    margin-bottom: 14px;
}

#flip_section .desc p a {
    color: #2970a5 ;
}

/***Form Style***/
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


#feedback-page{
  text-align:center;
}

#form-main{
  width:100%;
  float:left;
  padding-top:0px;
}

#form-div {
  background-color:rgba(72,72,72,0.4);
  padding-left:35px;
  padding-right:35px;
  padding-top:35px;
  padding-bottom:50px;
  width: 450px;
  float: left;
  left: 50%;
  position: absolute;
  margin-top:30px;
  margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
  color:#3c3c3c;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 0;
  line-height: 22px;
  background-color: #fbfbfb;
  padding: 13px 13px 13px 54px;
  margin-bottom: 10px;
  width:100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
  background: #fff;
  box-shadow: 0;
  border: 3px solid #3498db;
  color: #3498db;
  outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
  color:#30aed6;
  border:#30aed6 solid 3px;
}

/** Icons ---------------------------------- **/
#name{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#name:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
  background-size: 30px 30px;
  background-position: 8px 5px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#email:focus{
  background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#comment{
  background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  background-color:white;
}

#button-blue{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  float:left;
  width: 100%;
  border: #fbfbfb solid 4px;
  cursor:pointer;
  background-color: #3498db;
  color:white;
  font-size:24px;
  padding-top:22px;
  padding-bottom:22px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#button-blue:hover{
  background-color: rgba(0,0,0,0);
  color: #0493bd;
}
  
.submit:hover {
  color: #3498db;
}
  
.ease {
  width: 0px;
  height: 74px;
  background-color: #fbfbfb;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  -ms-transition: .3s ease;
  transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
  #form-div{
    left: 3%;
    margin-right: 3%;
    width: 88%;
    margin-left: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
}

#form_wrapper {
    margin: 0 auto;
    width: 550px;
}
 
#form_wrapper .two .form_h1 {
    font-size: 20pt;
    margin: 0 auto;
    text-transform: uppercase;
}
#form_wrapper .two .form_h2 {
    font-size: 16pt;
    margin: 0 auto;
}
/*** footer ***/
nav ul {
    background-color: #000;
    width: 100%;
    bottom: 0px;
    position: fixed;
    padding: 10px 0px;
    z-index: 5;
}

nav ul li {
    float:left;
    color: white;
    vertical-align: middle;
    padding: 0px 7px;    
}
nav ul li.extend {
    padding-top: 7px;
}

nav ul li#webnified {
    float:right;
    color: #fff !important;
}

nav ul li .block {
    display: block;
    text-align: center;
    height: 30px;
    line-height: 100%;

}

nav ul li .link{
    color: #2970a5;
}

nav ul li a img {
    vertical-align: middle;
    padding: 0px 7px;
}

nav ul li#webnified img {
    vertical-align: middle;
    padding: 0px 5px;
}

.clear {
    clear:both;
}
